<!-- Contenedor principal de Swiper -->
<div class="swiper">
  <!-- Wrapper adicional requerido -->
  <div class="swiper-wrapper">
    <!-- Los slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- Si necesitamos paginación -->
  <div class="swiper-pagination"></div>

  <!-- Si necesitamos botones de navegación -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- Si necesitamos scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
